/* Auto Layout */

body {
    /* Block Master */
    position: relative;
    /* Background */
    background: #0F0E17;
}

.alto {
    height: 280px;
}

img {
    cursor: pointer;
}

.carst {
    flex: none;
    order: 4;
    flex-grow: 0;
}

.calif {
    position: absolute;
    top: 10px;
    height: 64px;
    width: 114px;
    border-radius: 0 50px 50px 0;
    background-color: rgba(0, 0, 0, 0.473);
}

#masValoradas {
    cursor: pointer;
}

#menosValoradas {
    cursor: pointer;
}

.califTexto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.califTexto p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    flex: 1 1 auto;
}

.califTexto i {
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 13px;
    margin-left: 10px;
    color: yellow;
}

h1 {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

colorTable {
    color: white;
}

.color-black {
    color: black;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-c {
    margin: 0 auto;
}